<div class="comment">
  <div class="comment-head">
    <div class="comment-head-left">
      <img *ngIf="Comment?.profilePicture" [src]="Comment?.profilePicture">
      <mat-icon *ngIf="!Comment?.profilePicture">person</mat-icon>
    </div>
    <div class="comment-head-right">
      <span class="mat-body-2">{{Comment?.displayName ?? 'Anonym'}}</span>
      <span class="mat-caption">{{Comment?.createdAt | date: 'medium'}}</span>
    </div>
  </div>
  <div class="comment-body">
    {{Comment?.content}}
  </div>
</div>
