<div class="about-component">
  <div class="content">

    <span class="mat-title">About the site</span>
    <span class="mat-subheading-2">
      It was designed primary to sort and share useful materials with my friends and colleagues.
    </span>

    <span class="mat-title">About me</span>
    <span class="mat-subheading-2">
    I'm just a guy who interested in technologies, investments, motorcycles, philosophy and craves to know new things.
    </span>

    <span class="mat-title">
      Contacts:
    </span>
    <div>
      <app-other-service-link iconPath="assets/linkedin.ico" link="https://www.linkedin.com/in/misha-krygin-8144921b4/" title="Linkedin"></app-other-service-link>
      <app-other-service-link iconPath="assets/telegram.png" link="https://t.me/noderoid64" title="Telegram"></app-other-service-link>
      <app-other-service-link iconPath="assets/Github.png" link="https://github.com/Noderoid64" title="GitHub"></app-other-service-link>
    </div>
  </div>
</div>
