.profile-image-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .profile-image {
    border-radius: 14px;
    width: 28px;
    height: 28px;
  }
}

.unlogged-menu {
  display: flex;
  align-items: center;
  .google-icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
}

.mat-menu-content {
  padding-top: 0 !important;
}

.menu-nick {
  margin: -8px 0 0 0;
  padding: 0 0 0 4px;
  height: auto;
  opacity: 0.6;
  cursor: default;
}


