.projects-component {
  width: 100%;
  display: flex;
  justify-content: center;
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .disabled {
    opacity: 0.5;
  }
}
