<div [ngClass]="(theme$ | async) === 'dark'? 'dark-theme' : 'light-theme'" class="t main-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="menu">
      <span class="mat-display-1">Noderoid.dev</span>
      <div class="right-side">
        <app-profile></app-profile>
        <button mat-icon-button class="material-symbols-outlined" (click)="onThemeChangeClick() ">
          <mat-icon class="m-icon">{{(theme$ | async) === 'dark' ? 'dark_mode' : 'light_mode'}}</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Projects">
      <app-projects></app-projects>
    </mat-tab>
    <mat-tab label="About"> <app-about></app-about> </mat-tab>
  </mat-tab-group>
</div>

