.main-container {
  min-height: 100vh;
  .menu {
    display: flex;
    justify-content: space-between;
    .logo {
      cursor: pointer;
    }
    .mat-display-1 {
      margin: 0;
    }
    .right-side {
      display: flex;
      align-items: center;
      app-profile {
        margin-right: 8px;
      }
    }
  }
}
