<div class="blog-comments">
  <div class="mat-headline" *ngIf="comments?.length == 0">
    No comments yet. Be the first one
  </div>
  <div *ngFor="let comment of comments; trackBy:identify" class="comment-field">
    <app-comment [Comment]="comment"></app-comment>
    <div class="tools-section">
      <mat-icon matTooltip="Remove" (click)="onCommentRemove(comment.id)">delete</mat-icon>
    </div>
  </div>
  <app-my-comment [profilePicture]="(user$ | async)?.profilePicture" (sendComment)="onCommentSend($event)"></app-my-comment>
</div>
