<div class="wrapper">
  <div class="blog-view">
    <div>
      <h1>{{(post$ | async)?.title}}</h1>
      <md-renderer [content]="(post$ | async)?.content ?? ''"></md-renderer>
    </div>
    <mat-accordion>
      <mat-expansion-panel hideToggle (opened)="isOpened = true" (closed)="isOpened = false">
        <mat-expansion-panel-header>
          <mat-icon>
            chat
          </mat-icon>
          &nbsp;&nbsp;
          Comments {{comments != undefined ? ('(' + comments + ')') : ''}}
          &nbsp;&nbsp;
          <mat-icon *ngIf="!isOpened">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="isOpened">arrow_drop_up</mat-icon>
        </mat-expansion-panel-header>
        <app-comments (CommentsLoaded)="comments = $event" [postId]="(post$ | async)?.id"></app-comments>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>
