<div class="project-list">
    <div class="section">
      <span class="mat-headline">Technology</span>
      <div class="projects" routerLink="/projects/personal-site">
        <div class="project-item">
          <img src="assets/personal-site.png">
          <span class="mat-subheading-1">Personal site</span>
          <span class="mat-caption">June 15, 2015</span>
        </div>

        <div class="project-item disabled">
          <img src="assets/search-index.png">
          <span class="mat-subheading-1">Text search index</span>
          <span class="mat-caption">June 15, 2022</span>
        </div>
      </div>
    </div>

  <div class="section disabled">
    <span class="mat-headline">Philosophy</span>
    <div class="projects">
      <div class="project-item">
        <img src="assets/socrat-project.png">
        <span class="mat-subheading-1">Epistemologie</span>
        <span class="mat-caption">August 30, 2022</span>
      </div>
    </div>
  </div>

  <div class="section disabled">
    <span class="mat-headline">Other</span>
    <div class="projects">
      <div class="project-item">
        <img src="assets/moto-project.png">
        <span class="mat-subheading-1">Motorcycling</span>
        <span class="mat-caption">August 31, 2022</span>
      </div>
    </div>
  </div>
</div>
