<canvas id="bg" (scroll)="moveCamera()"></canvas>
<div class="map">
  <div class="info">
    <div>
      <div style="margin-bottom: 12px; font-size: 24px">Intro</div>
      <div>
        Hi, my name is Michael and that is my CV.
        Possible you came here to know more about my skills and experience.
        I did it in the form of mini space animation story to hold your focus longer.
        Please enjoy.
      </div>
    </div>
    <div style="align-items: end">
      <button>Next</button>
      <button>Back</button>
    </div>
  </div>
</div>

