<div>

  <mat-card class="builder-toolbar">
      <div class="right-side">
        <app-code-selector class="item" (selected)="onCodeSelection($event)" matTooltip="Code block"></app-code-selector>
        <app-horizontal-line class="item" (clicked)="onHorizontalLine()" matTooltip="Horizontal line"></app-horizontal-line>
      </div>
      <div class="left-side">
        <app-view-mode (toggle)="onViewModeChange($event)"></app-view-mode>
        <button mat-button [cdkCopyToClipboard]="sourceControl.value ?? ''">
          <mat-icon>content_copy</mat-icon>
        </button>
        <button mat-button (click)="onSettings()" matTooltip="Open settings">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-stroked-button color="primary" matTooltip="My posts" [routerLink]="'/blog/my'">
          <mat-icon>home</mat-icon>
          <span class="hideable-600">My posts</span>
        </button>
        <button mat-flat-button color="primary" (click)="onSave()" matTooltip="Save changes">
          <mat-icon>save</mat-icon>
          <span class="hideable-600">Save</span>
        </button>
      </div>
  </mat-card>

  <div class="content">
    <div class="source-wrapper" *ngIf="!isViewMode">
      <mat-form-field appearance="fill" >
        <mat-label >Source</mat-label>
        <textarea #source clipboard (input)="onSourceInput($event)" (click)="onSourceClick($event)" (keydown)="handleKeydown($event)" matInput [formControl]="sourceControl"></textarea>
      </mat-form-field>
    </div>
    <div class="result-wrapper background" [ngClass]="!isViewMode ? 'hideable-600' : 'full-width'">
      <md-renderer [content]="(sourceControl.valueChanges | async ) ?? ''"></md-renderer>
    </div>
  </div>

</div>
