.builder-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    display: flex;
  }
}

.content {
  display: flex;
  width: 100%;
  %wrapper {
    width: 50%;
    margin: 16px;
  }
  .source-wrapper {
    @extend %wrapper;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    mat-form-field {
      width: 100%;
      textarea {
        line-height: 1.5;
        font-size: 1.1rem;
      }
    }

  }
  .result-wrapper {
    @extend %wrapper;
    border-radius: 4px;
    padding: 16px;
  }
}

.full-width {
  width: 100% !important;
}
