
$_background: map-get($theme, background);
$_foreground: map-get($theme, foreground);
$_primary: map-get(map-get($theme, color), primary);

$default: map-get($_primary, default);
$light: map-get($_primary, lighter);

.primary {
  color: $default;
}
.light {
  color: $light;
}
.background {
  background-color: map-get($_background, card);
}

.m-icon {
  width: 32px;
  height: 32px;
  line-height: 32px !important;
  font-size: 32px;
}
